<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
	<link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
	<style>
	input[type=file] {
		display: none;
	}
</style>
</head>
<body>
	<div id="app">
		<v-app>
			<v-content>
				<v-container>
					<v-flex xs12>
						<v-card>
							<v-card-title>
								<span class="headline">WaterMark Generator</span>
							</v-card-title>
							<v-card-text>
								<v-container grid-list-md>
									<v-layout wrap>
										<v-flex xs12 sm6 md6>
											<v-btn color="success" @click="openFileInput()">Upload File</v-btn>
											<input type="file" id="fileInput" ref="fileInput" @change="addFile(this)">
										</v-flex>
										<v-flex xs12 sm6 md6>
											<v-btn color="success" @click="openWatermarkInput()">Upload Watermark</v-btn>
											<input type="file" id="watermarkInput" ref="watermarkInput" @change="addWatermark(this)">
										</v-flex>
									</v-layout>
								</v-container>
								<v-container>
									<v-layout row wrap>
										<v-flex xs4 v-for="file, n in files" :key="n" >
											<v-card flat tile>
												<v-card-media :src="file.base64" height="200px"></v-card-media>
											</v-card>
										</v-flex>
									</v-layout>
								</v-container>
								<v-container>
									<v-layout row wrap>
										<v-flex xs4 v-for="file, n in watermarkedFiles" :key="n" >
											<v-card flat tile>
												<v-card-media :src="file.base64" height="200px"></v-card-media>
											</v-card>
										</v-flex>
									</v-layout>
								</v-container>
							</v-card-text>
							<v-container id="container"></v-container>
							<v-card-actions>
								<v-spacer></v-spacer>
								<v-btn color="blue darken-1" flat @click="generateWatermark()">Generate Watermark</v-btn>
							</v-card-actions>
						</v-card>
					</v-flex>
				</v-container>
			</v-content>
		</v-app>
	</div>

	<script src="https://unpkg.com/watermarkjs@2.0.0/dist/watermark.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
	<script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
	<script>
		app = new Vue({
			el: '#app',
			data: {
				files: [],
				watermark: null,
				watermarkedFiles: [],
			},
			methods: {
				route(){
					this.routePath = location.pathname
					if(location.search != ""){
						callbackParams = {}
						location.search.substr(1).split("&").forEach(function(item) {callbackParams[item.split("=")[0]] = item.split("=")[1]})
						this.callbackParams = callbackParams;
					}
					if(this.routePath == "/callback"){
						console.log("hey")
						this.login()
					}
				},
				openFileInput(){
					$('#fileInput').click()
				},
				openWatermarkInput(){
					$('#watermarkInput').click()
				},
				addFile(){
					let file = this.$refs.fileInput.files[0];	
					let reader = new FileReader();
					reader.readAsDataURL(file);
					let self = this;
					reader.onload = function () {
						let base64 = null;
						base64 = reader.result;
						file.base64 = base64;
						self.files.push(file)
					};			
				},
				addWatermark(){
					let watermark = this.$refs.watermarkInput.files[0];
					let reader = new FileReader();
					reader.readAsDataURL(watermark);
					let base64 = null;
					let self = this;
					reader.onload = function () {
						base64 = reader.result;
						watermark.base64 = base64;
						self.watermark = watermark;
					};
				},
				generateWatermark(){
					for(let i = 0; i < this.files.length; i++){
						watermark([this.files[i], this.watermark])
						.image(watermark.image.lowerRight(0.5))
						.then(function (img){
							app.watermarkedFiles.push(img)
						});
					}
				}
			},
			created: function(){
				this.route()
			}
		})
	</script>
</body>
</html>