<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="js/jquery-3.3.1.min.js"></script>
	<link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
	<link href="css/vuetify.min.css" rel="stylesheet">
	<style>
	input[type=file] {
		display: none;
	}
	.sample {
		display:block;
		width: 200px;
		height: 200px;
	}
</style>
</head>
<body>
	<div id="app">
		<v-app :dark="option.dark">
			<v-content>
				<v-container>
					<v-flex xs12>
						<v-card>
							<v-card-title>
								<span class="headline">WaterMark Generator</span>
							</v-card-title>
							<v-card-text>
								<v-container>
									<img :src="sample" class="sample mx-auto">
								</v-container>
								<v-container>
									<v-radio-group label="Orientation" v-model="watermarkOption.orientation" @change="updateSample()" row>
										<v-radio label="Lower Right" value="lowerRight"></v-radio>
										<v-radio label="Lower Left" value="lowerLeft"></v-radio>
										<v-radio label="Upper Right" value="upperRight"></v-radio>
										<v-radio label="Upper Left" value="upperLeft"></v-radio>
										<v-radio label="Center" value="center"></v-radio>
									</v-radio-group>
									<v-slider Label="Opacity" v-model="watermarkOption.opacity" thumb-label min="10" step="10" ticks @click="updateSample()"></v-slider>
								</v-container>
								<v-container justify-space-between>
									<v-layout wrap>
										<v-flex xs12 sm4 md4>
											<v-btn color="success" @click="openFileInput()">Upload File</v-btn>
											<input type="file" id="fileInput" ref="fileInput" @change="addFile(this)">
											{{ files.length }} Upload
										</v-flex>
										<v-flex xs12 sm4 md4>
											<v-btn color="success" @click="openWatermarkInput()">Upload Watermark</v-btn>
											<input type="file" id="watermarkInput" ref="watermarkInput" @change="addWatermark(this)">
										</v-flex>
										<v-flex xs12 sm4 md4>
											<v-btn color="success" @click="generateWatermark()">Generate Watermark</v-btn>
										</v-flex>
									</v-layout>
								</v-container>
							</v-card-text>
						</v-card>
					</v-flex>
				</v-container>
			</v-content>
		</v-app>
	</div>

	<script type="text/javascript" src="js/download.min.js"></script>
	<script type="text/javascript" src="js/watermark.min.js"></script>
	<script type="text/javascript" src="js/vue.js"></script>
	<script type="text/javascript" src="js/vuetify.min.js"></script>
	<script>
		app = new Vue({
			el: '#app',
			data: {
				option: {
					dark: true,
				},
				files: [],
				sample: null,
				watermarkOption: {
					watermark: null,
					text: {
						value: 'Sample',
						fontFamily: 'Arial',
						size: '25px',
						color: '#FFFFFF',
					},
					opacity: 50,
					orientation: 'lowerRight',
					type: 'watermark',
				},
			},
			methods: {
				route(){
					this.routePath = location.pathname
					if(location.search != ""){
						callbackParams = {}
						location.search.substr(1).split("&").forEach(function(item) {callbackParams[item.split("=")[0]] = item.split("=")[1]})
						this.callbackParams = callbackParams;
					}
					if(this.routePath == "/callback"){

					}
				},
				openFileInput(){
					$('#fileInput').click()
				},
				openWatermarkInput(){
					$('#watermarkInput').click()
				},
				addFile(){
					let file = this.$refs.fileInput.files[0];	
					let reader = new FileReader();
					reader.readAsDataURL(file);
					let self = this;
					reader.onload = function () {
						let base64 = null;
						base64 = reader.result;
						file.base64 = base64;
						self.files.push(file)
					};			
				},
				addWatermark(){
					let watermark = this.$refs.watermarkInput.files[0];
					let reader = new FileReader();
					reader.readAsDataURL(watermark);
					let self = this;
					reader.onload = function () {
						let base64 = null;
						base64 = reader.result;
						watermark.base64 = base64;
						self.watermarkOption.watermark = watermark;
					};
				},
				generateWatermark(){
					if(this.watermarkOption.orientation == 'lowerRight'){
						callback = watermark.image.lowerRight(this.watermarkOption.opacity / 100)
					} else if(this.watermarkOption.orientation == 'lowerLeft'){
						callback = watermark.image.lowerLeft(this.watermarkOption.opacity / 100)
					} else if(this.watermarkOption.orientation == 'upperRight'){
						callback = watermark.image.upperRight(this.watermarkOption.opacity / 100)
					} else if(this.watermarkOption.orientation == 'upperLeft'){
						callback = watermark.image.upperLeft(this.watermarkOption.opacity / 100)
					} else if(this.watermarkOption.orientation == 'center'){
						callback = watermark.image.center(this.watermarkOption.opacity / 100)
					}
					for(let i = 0; i < this.files.length; i++){
						watermark([this.files[i], this.watermarkOption.watermark])
						.image(callback)
						.then(function (img){
							download(img.src, 'File '+i, 'image/png')
						});
					}
					this.files = [];
				},
				updateSample(){
					if(this.watermarkOption.orientation == 'lowerRight'){
						callback = watermark.image.lowerRight(this.watermarkOption.opacity / 100)
					} else if(this.watermarkOption.orientation == 'lowerLeft'){
						callback = watermark.image.lowerLeft(this.watermarkOption.opacity / 100)
					} else if(this.watermarkOption.orientation == 'upperRight'){
						callback = watermark.image.upperRight(this.watermarkOption.opacity / 100)
					} else if(this.watermarkOption.orientation == 'upperLeft'){
						callback = watermark.image.upperLeft(this.watermarkOption.opacity / 100)
					} else if(this.watermarkOption.orientation == 'center'){
						callback = watermark.image.center(this.watermarkOption.opacity / 100)
					}
					watermark(['img/sample.png', 'img/logo.png'])
					.image(callback)
					.then(function (img){
						app.sample = img.src
					});
					
				},
			},
			created: function(){
				this.updateSample()
			}
		})
	</script>
</body>
</html>